@font-face {
    font-family: "Quicksand";
    src: url("../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("../../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 900;
    font-display: swap;
  }
  
  @font-face {
      font-family: "Nunito Italic";
      src: url("../../assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
      font-weight: 200 900;
      font-display: swap;
    }
  
  @font-face {
    font-family: "Comfortaa";
    src: url("../../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 900;
    font-display: swap;
  }
  
  @font-face {
      font-family: "Averia Serif Libre";
      src: url("../../assets/fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf") format("truetype");
      font-weight: 700;
      font-display: swap;
    }