@use "./variables" as *;

//breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

//horizontal padding
@mixin responsive-horizontal-padding {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @include tablet {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @include desktop {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

//Other mixins
@mixin display-flex($flexdirection, $justify, $align) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size, $lineheight, $weight) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineheight;
}
