$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Card Colors
$primary-card-color: #BA8858;
$secondary-card-color-one: #8AAD74;
$secondary-card-color-two: #EBD4B6;

//Accents 
$accent-color-one: #2F3C2E;
$accent-color-two: #F5DECD;
$accent-color-three: #F1C8B3;
$accent-color-four: #B78E72;
$accent-color-five: #CAA173;
$accent-color-six: #DCBE97;
$accent-color-seven: #91A687;
$accent-color-eigth: #C0D2B1;
$accent-color-nine: #D0DCC2;

//Background Colors
$background-color-one: #F5F1E3;
$background-color-two: #EFE6D6;
$background-color-three: #F5EFE0;

//Font Colors
$font-color-one: #FFFFFF;
$font-color-two: #000000;