$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Card Colors
$primary-card-color: #ba8858;
$secondary-card-color-one: #8aad74;
$secondary-card-color-two: #ebd4b6;

//Accents
$accent-color-one: #2f3c2e;
$accent-color-two: #f5decd;
$accent-color-three: #f1c8b3;
$accent-color-four: #b78e72;
$accent-color-five: #caa173;
$accent-color-six: #dcbe97;
$accent-color-seven: #91a687;
$accent-color-eigth: #c0d2b1;
$accent-color-nine: #d0dcc2;

//Background Colors
$background-color-one: #f5f1e3;
$background-color-two: #efe6d6;
$background-color-three: #f5efe0;

//Font Colors
$font-color-one: #ffffff;
$font-color-two: #000000;
$font-color-three: #F5EDE1;

$input-height-mobile: 2.25rem;
$input-height-tablet: 2.375rem;
$button-width-tablet: 10.5rem;

$mobile-padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 2.5rem;
