@use "../../styles/partials/global" as *;

.register {
  background-image: url("../../assets/backgrounds/2.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__plant{
    max-width: 200px;
    max-height: 200px ;
  }
}