@use "../../styles/partials/global" as *;

.bottle-wrapper {
  padding-top: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &__img {
    cursor: pointer;
    transition: transform 0.2s ease;
    max-height: 150px;
    max-width: 160px;
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
