@use "../../styles/partials/global" as *;

.access-card {
  background-color: $font-color-one;
  padding: 2.5rem;
  border-radius: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 450px;
  //min-height: 75%;
  text-align: center;
  color: $secondary-card-color-one;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    width:100%;
    @include display-flex(row, space-between, center);
  }

  &__link {
    color: $secondary-card-color-one;
    text-decoration: none;
  }

  &__title {
    font-family: "Comfortaa";
    @include font(80px, 50px, 900);
    font-size: 1.8rem;

    &:hover {
      color: darken($secondary-card-color-one, 20%);
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }

  &__icon {
    min-width: 40px;
    min-height: 40px;
    transition: transform 0.5s ease;
    cursor: pointer; 

    &:hover {
      color: darken($secondary-card-color-one, 20%);
      animation: wiggle 0.5s ease-in-out infinite;
    }
  }
}
