@use "../../styles/partials/global" as *;

.login-form {
  display: flex;
  @include display-flex(column, center, center);
  gap: 2rem;
  font-family: "Comfortaa";

  &__input {
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: "Comfortaa";
    font-size: 0.9rem;
    min-width: 300px;
    border: 2px solid $accent-color-eight; 

    &:focus{
        outline: none;
        border: 2px solid $accent-color-eleven;
    }
  }

  &__password-wrapper {
    position: relative;
  }
  
  &__toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 0.85rem;
    color: $accent-color-eleven;
    cursor: pointer;
  }

  &__button {
    padding: 0.7rem 2rem;
    background-color: $secondary-card-color-one;
    font-weight: 900;
    color: white;
    border: none;
    font-family: "Comfortaa";
    border-radius: 30px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: $accent-color-ten;
    }
  }

  &__footer {
    font-size: 0.9rem;
    font-weight: 500;

    &--link {
      color: $accent-color-ten;
      text-decoration: none;
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
