@use "../../styles/partials/global" as *;

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    &__input {
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }
  
    &__button {
      padding: 0.8rem;
      background-color: #5c8a5b;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
  
      &:hover {
        background-color: #4a6e48;
      }
    }
  
    &__footer {
      margin-top: 1rem;
      font-size: 0.9rem;
  
      a {
        color: #5c8a5b;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  