@use "../../styles/partials/global" as *;

.categories-page {
  padding: $mobile-padding;
  background-color: $background-color-two;
  width:100%;

  &__title {
    font-size: 2rem;
    font-family: "Averia Serif Libre", serif;
    margin-bottom: 2rem;
    text-align: center;
    color: $font-color-two;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}
