@use "../../styles/partials/global" as *;

.time-capsule-page {
  overflow: hidden;
  background-image: url("../../assets/backgrounds/3.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  @include display-flex(column, start, start);
  
  font-family: "Comfortaa";

  @media (min-width: $tablet-breakpoint) {
    padding: $tablet-padding;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: $desktop-padding;
  }

  &__title {
    font-size: 2rem;
    font-family: "Averia Serif Libre", serif;
    color: $accent-color-ten;
    letter-spacing: 0.5px;
    padding-bottom: 30px;

    @media (min-width: $tablet-breakpoint) {
      font-size: 2.5rem;
    }
  }

  &__subtitle{
    color: $accent-color-ten;
    padding-bottom: 24px;
  }

  &__form {
    background-color: $font-color-one;
    margin-left: 40px;
    padding: 2.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    min-width: 28.125rem;
    text-align: center;
    color: $secondary-card-color-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
  }

  &__label{
    color: $accent-color-ten;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 2px;
  }

  &__input {
    margin-bottom: 25px;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: "Comfortaa";
    font-size: 0.9rem;
    min-width: 350px;
    border: 2px solid $accent-color-eight;

    &--text {
      height: 100px;
    }

    &:focus {
      outline: none;
      border: 2px solid $accent-color-eleven;
    }
  }

  &__bottles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }
}

.capsule-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.capsule-modal-container {
  background-color: $background-color-one;
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  font-family: "Comfortaa", sans-serif;
  position: relative;
}

.time-capsule-page {
  &__password-wrapper {
    position: relative;
  }

  &__toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 0.85rem;
    color: $accent-color-eleven;
    cursor: pointer;
  }

  &__button {
    padding: 0.7rem 2rem;
    background-color: $secondary-card-color-one;
    font-weight: 900;
    color: white;
    border: none;
    font-family: "Comfortaa";
    border-radius: 30px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: $accent-color-ten;
    }
  }

  &__footer {
    font-size: 0.9rem;
    font-weight: 500;

    &--link {
      color: $accent-color-ten;
      text-decoration: none;
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
