@use "../../styles/partials/global" as *;

.chatbot-page {
  width: 100%;
  background-image: url("../../assets/backgrounds/7.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  position: relative; 

  @include display-flex(column, center, center);

  &__title {
    font-size: 2rem;
    font-family: "Averia Serif Libre", serif;
    color: $accent-color-ten;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;

    @media (min-width: $tablet-breakpoint) {
      font-size: 2.5rem;
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-16px);
    }
  }

  &__card{
    z-index: 1;
  }

  &__decor-table {
    position: absolute;
    bottom: 1rem;
    left: 5rem;
    width: 250px;
    height: 350px;
    z-index: 1;
  }

  &__decor-plant {
    position: absolute;
    bottom: 19rem;
    left: 2.1rem;
    width: 350px;
    z-index: 2;
    animation: float 3s ease-in-out infinite;
  }

  &__decor-heart {
    transform: rotate(30deg);
    position: absolute;
    bottom: 30rem;
    left: 73rem;
    width: 360px;
    z-index: 1;
  }
}
